* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    /* overflow:scroll; */
}

.container>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;

}

.container > .header {
   background-color: aquamarine;
   /* text-align: center;
   align-items: center;
   /* align-content: center; */
   /* align-self: center; */ 
   justify-content: space-between;
}

header {
    background-color: aqua;
    height: 100px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    
}

header p {
    position: sticky;
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    /* margin-left: 200px; */
    text-align:center;
    
}

@media screen and (min-width:360px) {
 .header {
    background-color: aqua;
 }
    
}

.one {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: brown;
    margin: 1REM;
    padding: 1rem;
    justify-content: space-around;
    position: relative;
 }


 .box1 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */
    margin-bottom: 10px;
   }

   .box2 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */

   }

   .box3 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */
   }

   .box4 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */
   }

   .box5 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */
   }

   .box6 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */
   }

   .box7 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: bisque;
    /* position: absolute; */
   }

   .box8 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: rgb(196, 243, 255);
    /* position: absolute; */
   }

   .box9 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: rgb(209, 131, 36);
    /* position: absolute; */
   }

   .box10 {
    width: 200px;
    height: 270px;
    border: inherit;
    border-radius: inherit;
    background-color: rgb(47, 148, 143);
    /* position: absolute; */
   }


 section div img {
    width: 80%;
    height: 50%;
    margin-top: 1.5rem;
   } 
